@using ToolsMarket.App.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUserModel> SignInManager
@inject UserManager<ApplicationUserModel> UserManager


@if (SignInManager.IsSignedIn(User))
{
    var nome = UserManager.Users.FirstOrDefault(m => m.UserName == User.Identity.Name).Nome;
    var index = nome.IndexOf(" ");
    var primeiroNome = nome.Substring(0, index);

    <div class="dropdown account-item">
        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="account-btn">
                <i class="fa fa-user"></i>
                <div class="login">
                    <span>Bem vindo(a)</span>
                    <span><strong>@primeiroNome</strong></span>
                </div>
            </div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Perfil</a></li>
            @if (primeiroNome.Equals("Michael"))
            {                
                <li><a class="dropdown-item" href="https://localhost:44316/admin">Painel Admin</a></li>
            }
            <li>
                <fiv class="dropdown-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Sair</button>
                    </form>
                </fiv>
            </li>
        </ul>
    </div>
}
else
{
    <div class="account-item">
        <a class="nav-link text-dark" style="font-size: .8rem;" asp-area="Identity" asp-page="/Account/Login">
            <div class="account-btn">
                <i class="fa fa-user"></i>
                <div class="login">
                    <span>Entrar ou</span>
                    <span><strong>Cadastrar</strong></span>
                </div>
            </div>
        </a>
    </div>
}

