@model IEnumerable<ToolsMarket.App.ViewModels.CategoriaViewModel>

@{
    ViewData["Title"] = "Categorias -";
}

<div class="container pt-5 pb-5">
    <vc:notificacoes></vc:notificacoes>

    <p>
        <a class="btn btn-success" style="font-size: .8rem !important;" asp-action="Create">+ Adicionar categoria</a>
    </p>
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th class="fw-normal text-center" style="font-size: .7rem !important;">Nome Categoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-size: .7rem !important; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.NomeCategoria)
                    </td>                    
                    <td class="text-center" style="vertical-align: middle;">
                        <a class="btn-sm btn-warning text-decoration-none" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-edit"></span></a>
                        <a class="btn-sm btn-danger text-decoration-none" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

