
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item img1 active">
        </div>
        <div class="carousel-item img2">
        </div>
        <div class="carousel-item img3">
        </div>
    </div>
</div>


<div class="container banner-info">
    <img class="img-fluid" src="~/images/banner-pgt.webp" />
</div>
<div class="container mid-banners">
    <a href="#"><img style="width: 100%; border-radius: 10px;" src="~/images/gabarito1.webp" /></a>
    <a href="#"><img style="width: 100%; border-radius: 10px;" src="~/images/gabarito.webp" /></a>
</div>
<vc:destaque></vc:destaque>
<vc:ferramentas-eletricas></vc:ferramentas-eletricas>